<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.collage.pnuapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SuggestActivity"></activity>
        <activity android:name=".activity.VoteActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.CourseDetailActivity" />
        <activity android:name=".activity.CoursesActivity" />
        <activity android:name=".activity.AddCourse" />
        <activity android:name=".activity.TimeLineActivity" />
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutApplication" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ForgotActivity" />

        <activity android:name=".activity.HomeAdminActivity"/>


        <activity android:name=".activity.CoursePaymentActivity"/>
        <activity android:name=".activity.VoteResultActivity"/>
        <activity android:name=".activity.AddCertificate"/>
        <activity android:name=".activity.CertificateActivity"/>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>